---
import Layout from "../../../src/layouts/Layout.astro";
const { id } = Astro.params; //El id de la ruta dinamica es = a el parametro que me tiene que llegar

const response = await fetch(
    'https://api.themoviedb.org/3/movie/' + id + 
    '&?api_key=96013caf1d939bf914b20e12375de35c' +
    '&language=en-US'
);

const data = await response.json();

const poster_url = "https://image.tmdb.org/t/p/w500"

---

<Layout>

        <div class="col-md-4">
        <img src={poster_url + data.poster_path} alt="poster" class="img-fluid rounded-start" /> 
    </div>
    <div>
        <h1><span class="badge text-bg-dark">{data.title}</span></h1>
        <h4>{data.tagline}</h4>
        <h2>Overview</h2>
        <p>{data.overview}</p>
        <p><span class="badge text-bg-secondary">{data.release_date}</span></p>
        <h1><span class="badge text-bg-danger">{Math.round(data.vote_average)}</span></h1>
    </div>

    <h1>Trailer:</h1>

        
    
    
</Layout>
